<a href="https://colab.research.google.com/github/prathithbhargav/learn_pandas/blob/main/Learning_Pandas_IPLUG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Disclaimer No Panda Was Harmed during this process

In [2]:
# Getting Pandas
import pandas as pd

# 1. Pandas can do whatever excel can and possibly more

## 1a. Read a File using Pandas

In [4]:
# preamble given by IPLUG :)
df = pd.read_csv('data/nobel_prize.csv')
df.head()

,awardYear,category,categoryFullName,sortOrder,portion,prizeAmount,prizeAmountAdjusted,dateAwarded,prizeStatus,motivation,...,org_founded_country,org_founded_countryNow,org_founded_locationString,ind_or_org,residence_1,residence_2,affiliation_1,affiliation_2,affiliation_3,affiliation_4
0,2001,Economic Sciences,The Sveriges Riksbank Prize in Economic Scienc...,2,1/3,10000000,12295082,2001-10-10,received,for their analyses of markets with asymmetric ...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Stanford University, Stanford, CA, USA",NaN,NaN,NaN
1,1975,Physics,The Nobel Prize in Physics,1,1/3,630000,3404179,1975-10-17,received,for the discovery of the connection between co...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Niels Bohr Institute, Copenhagen, Denmark",NaN,NaN,NaN
2,2004,Chemistry,The Nobel Prize in Chemistry,1,1/3,10000000,11762861,2004-10-06,received,for the discovery of ubiquitin-mediated protei...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Technion - Israel Institute of Technology, Hai...",NaN,NaN,NaN
3,1982,Chemistry,The Nobel Prize in Chemistry,1,1,1150000,3102518,1982-10-18,received,for his development of crystallographic electr...,...,NaN,NaN,NaN,Individual,NaN,NaN,"MRC Laboratory of Molecular Biology, Cambridge...",NaN,NaN,NaN
4,1979,Physics,The Nobel Prize in Physics,2,1/3,800000,2988048,1979-10-15,received,for their contributions to the theory of the u...,...,NaN,NaN,NaN,Individual,NaN,NaN,"International Centre for Theoretical Physics, ...","Imperial College, London, United Kingdom",NaN,NaN

In [ ]:
# what if you had an excel file (we will not use df_dummy again) 
df_dummy = pd.read_excel()
df_dummy

## 1b. How to Read a Single Column or Multiple

In [5]:
df['category']

0      Economic Sciences
1                Physics
2              Chemistry
3              Chemistry
4                Physics
             ...
945              Physics
946            Chemistry
947            Chemistry
948                Peace
949                Peace
Name: category, Length: 950, dtype: object

In [6]:
# read the column by name 'portion' and click the play button

## 1.c Simple Statistics for numerical data, and Frequencies/Unique for Text Data

In [7]:
df.describe()
'''
mean, std can also be found through df['column_name'].mean() and df['column_name'].std() respectively.
'''

         awardYear   sortOrder   prizeAmount  prizeAmountAdjusted          id
count   950.000000  950.000000  9.500000e+02         9.500000e+02  950.000000
mean   1971.207368    1.483158  3.460596e+06         6.145681e+06  483.043158
std      33.586969    0.688021  4.014530e+06         3.276874e+06  282.644711
min    1901.000000    1.000000  1.149350e+05         2.377268e+06    1.000000
25%    1947.000000    1.000000  1.703320e+05         3.052326e+06  238.250000
50%    1977.000000    1.000000  7.000000e+05         4.997406e+06  477.500000
75%    2000.000000    2.000000  8.000000e+06         9.044276e+06  727.750000
max    2019.000000    3.000000  1.000000e+07         1.229508e+07  984.000000

In [8]:
df['category'].unique()

array(['Economic Sciences', 'Physics', 'Chemistry', 'Peace',
       'Physiology or Medicine', 'Literature'], dtype=object)

In [9]:
df['category'].value_counts()

Physiology or Medicine    219
Physics                   213
Chemistry                 184
Peace                     134
Literature                116
Economic Sciences          84
Name: category, dtype: int64

## 1d. Exploring some socio-scientific questions from what we have learnt about Pandas

In [11]:
# hint 
df.columns

Index(['awardYear', 'category', 'categoryFullName', 'sortOrder', 'portion',
       'prizeAmount', 'prizeAmountAdjusted', 'dateAwarded', 'prizeStatus',
       'motivation', 'categoryTopMotivation', 'award_link', 'id', 'name',
       'knownName', 'givenName', 'familyName', 'fullName', 'penName', 'gender',
       'laureate_link', 'birth_date', 'birth_city', 'birth_cityNow',
       'birth_continent', 'birth_country', 'birth_countryNow',
       'birth_locationString', 'death_date', 'death_city', 'death_cityNow',
       'death_continent', 'death_country', 'death_countryNow',
       'death_locationString', 'orgName', 'nativeName', 'acronym',
       'org_founded_date', 'org_founded_city', 'org_founded_cityNow',
       'org_founded_continent', 'org_founded_country',
       'org_founded_countryNow', 'org_founded_locationString', 'ind_or_org',
       'residence_1', 'residence_2', 'affiliation_1', 'affiliation_2',
       'affiliation_3', 'affiliation_4'],
      dtype='object')

## 1e Filtering Data

In [13]:
# let's say you wanted only data from after 2000
df[df['awardYear']>2000]

,awardYear,category,categoryFullName,sortOrder,portion,prizeAmount,prizeAmountAdjusted,dateAwarded,prizeStatus,motivation,...,org_founded_country,org_founded_countryNow,org_founded_locationString,ind_or_org,residence_1,residence_2,affiliation_1,affiliation_2,affiliation_3,affiliation_4
0,2001,Economic Sciences,The Sveriges Riksbank Prize in Economic Scienc...,2,1/3,10000000,12295082,2001-10-10,received,for their analyses of markets with asymmetric ...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Stanford University, Stanford, CA, USA",NaN,NaN,NaN
2,2004,Chemistry,The Nobel Prize in Chemistry,1,1/3,10000000,11762861,2004-10-06,received,for the discovery of ubiquitin-mediated protei...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Technion - Israel Institute of Technology, Hai...",NaN,NaN,NaN
5,2019,Economic Sciences,The Sveriges Riksbank Prize in Economic Scienc...,1,1/3,9000000,9000000,2019-10-14,received,for their experimental approach to alleviating...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Massachusetts Institute of Technology (MIT), C...",NaN,NaN,NaN
6,2019,Peace,The Nobel Peace Prize,1,1,9000000,9000000,2019-10-11,received,for his efforts to achieve peace and internati...,...,NaN,NaN,NaN,Individual,NaN,NaN,NaN,NaN,NaN,NaN
7,2009,Chemistry,The Nobel Prize in Chemistry,3,1/3,10000000,10958504,2009-10-07,received,for studies of the structure and function of t...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Weizmann Institute of Science, Rehovot, Israel",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,2001,Chemistry,The Nobel Prize in Chemistry,1,1/4,10000000,12295082,2001-10-10,received,for their work on chirally catalysed hydrogena...,...,NaN,NaN,NaN,Individual,"St. Louis, MO, USA",NaN,NaN,NaN,NaN,NaN
931,2001,Physics,The Nobel Prize in Physics,2,1/3,10000000,12295082,2001-10-09,received,for the achievement of Bose-Einstein condensat...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Massachusetts Institute of Technology (MIT), C...",NaN,NaN,NaN
938,2008,Physics,The Nobel Prize in Physics,1,1/2,10000000,10926573,2008-10-07,received,for the discovery of the mechanism of spontane...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Enrico Fermi Institute, University of Chicago,...",NaN,NaN,NaN
939,2016,Physiology or Medicine,The Nobel Prize in Physiology or Medicine,1,1,8000000,8301051,NaN,received,for his discoveries of mechanisms for autophagy,...,NaN,NaN,NaN,Individual,NaN,NaN,"Tokyo Institute of Technology, Tokyo, Japan",NaN,NaN,NaN
941,2005,Chemistry,The Nobel Prize in Chemistry,1,1/3,10000000,11711430,2005-10-05,received,for the development of the metathesis method i...,...,NaN,NaN,NaN,Individual,NaN,NaN,"Institut Français du Pétrole, Rueil-Malmaison,...",NaN,NaN,NaN

In [14]:
# try to get only chemistry lauretes

In [15]:
# try to get only lauretes from india

## 1f Getting more data, Modifying some data

Note: Needs slightly more intutiton of python

In [16]:
# let's get the total amount spent on the nobel prizes
df['prizeAmount'].sum()

3287566321

In [19]:
df['category'].unique()

array(['Economic Sciences', 'Physics', 'Chemistry', 'Peace',
       'Physiology or Medicine', 'Literature'], dtype=object)

In [22]:
# assume that we need whether the prize is Science? We need a column with True or False. 
science_subjects = ['Physics','Chemistry','Physiology or Medicine']
df['is_it_science'] = df['category'].apply(lambda x: x in science_subjects)
df

,awardYear,category,categoryFullName,sortOrder,portion,prizeAmount,prizeAmountAdjusted,dateAwarded,prizeStatus,motivation,...,org_founded_countryNow,org_founded_locationString,ind_or_org,residence_1,residence_2,affiliation_1,affiliation_2,affiliation_3,affiliation_4,is_it_science
0,2001,Economic Sciences,The Sveriges Riksbank Prize in Economic Scienc...,2,1/3,10000000,12295082,2001-10-10,received,for their analyses of markets with asymmetric ...,...,NaN,NaN,Individual,NaN,NaN,"Stanford University, Stanford, CA, USA",NaN,NaN,NaN,False
1,1975,Physics,The Nobel Prize in Physics,1,1/3,630000,3404179,1975-10-17,received,for the discovery of the connection between co...,...,NaN,NaN,Individual,NaN,NaN,"Niels Bohr Institute, Copenhagen, Denmark",NaN,NaN,NaN,True
2,2004,Chemistry,The Nobel Prize in Chemistry,1,1/3,10000000,11762861,2004-10-06,received,for the discovery of ubiquitin-mediated protei...,...,NaN,NaN,Individual,NaN,NaN,"Technion - Israel Institute of Technology, Hai...",NaN,NaN,NaN,True
3,1982,Chemistry,The Nobel Prize in Chemistry,1,1,1150000,3102518,1982-10-18,received,for his development of crystallographic electr...,...,NaN,NaN,Individual,NaN,NaN,"MRC Laboratory of Molecular Biology, Cambridge...",NaN,NaN,NaN,True
4,1979,Physics,The Nobel Prize in Physics,2,1/3,800000,2988048,1979-10-15,received,for their contributions to the theory of the u...,...,NaN,NaN,Individual,NaN,NaN,"International Centre for Theoretical Physics, ...","Imperial College, London, United Kingdom",NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,1972,Physics,The Nobel Prize in Physics,1,1/3,480000,3345725,NaN,received,for their jointly developed theory of supercon...,...,NaN,NaN,Individual,NaN,NaN,"University of Illinois, Urbana, IL, USA",NaN,NaN,NaN,True
946,1954,Chemistry,The Nobel Prize in Chemistry,1,1,181647,2640218,NaN,received,for his research into the nature of the chemic...,...,NaN,NaN,Individual,NaN,NaN,"California Institute of Technology (Caltech), ...",NaN,NaN,NaN,True
947,1911,Chemistry,The Nobel Prize in Chemistry,1,1,140695,7327865,NaN,received,in recognition of her services to the advancem...,...,NaN,NaN,Individual,NaN,NaN,"Sorbonne University, Paris, France",NaN,NaN,NaN,True
948,1981,Peace,The Nobel Peace Prize,1,1,1000000,2929688,1981-10-14,received,for promoting the fundamental rights of refugees,...,Switzerland,"Geneva, Switzerland",Organization,NaN,NaN,NaN,NaN,NaN,NaN,False
949,1963,Peace,The Nobel Peace Prize,1,1/2,265000,2839286,1963-10-10,received,for promoting the principles of the Geneva Con...,...,Switzerland,"Geneva, Switzerland",Organization,NaN,NaN,NaN,NaN,NaN,NaN,False

In [23]:
df['prizeAmount'].describe()

count    9.500000e+02
mean     3.460596e+06
std      4.014530e+06
min      1.149350e+05
25%      1.703320e+05
50%      7.000000e+05
75%      8.000000e+06
max      1.000000e+07
Name: prizeAmount, dtype: float64

### Exercise
if prize_amount > mean_amount (see below ) in a new column 'rich', output True

In [ ]:
mean_amount = 3.460596e+06

# 1g Supplementary Stuff

In [34]:
# let's find the number of nobel prizes
df.groupby('awardYear').count()

,category,categoryFullName,sortOrder,portion,prizeAmount,prizeAmountAdjusted,dateAwarded,prizeStatus,motivation,categoryTopMotivation,...,org_founded_countryNow,org_founded_locationString,ind_or_org,residence_1,residence_2,affiliation_1,affiliation_2,affiliation_3,affiliation_4,is_it_science
awardYear,,,,,,,,,,,,,,,,,,,,,
1901,6,6,6,6,6,6,2,6,6,0,...,0,0,6,3,0,3,0,0,0,6
1902,7,7,7,7,7,7,2,7,7,0,...,0,0,7,3,0,4,0,0,0,7
1903,7,7,7,7,7,7,1,7,7,0,...,0,0,7,2,0,4,0,0,0,7
1904,6,6,6,6,6,6,1,6,6,0,...,1,1,6,2,0,3,0,0,0,6
1905,5,5,5,5,5,5,1,5,5,0,...,0,0,5,2,0,3,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,11,11,11,11,11,11,8,11,11,0,...,0,0,11,1,0,9,2,0,0,11
2016,11,11,11,11,11,11,10,11,11,0,...,0,0,11,0,0,9,0,0,0,11
2017,12,12,12,12,12,12,9,12,12,0,...,1,1,12,0,0,10,4,0,0,12
2018,13,13,13,13,13,13,9,13,13,3,...,0,0,13,1,0,10,2,0,0,13
2019,14,14,14,14,14,14,14,14,14,3,...,0,0,14,1,0,12,4,1,1,14

In [38]:
# Accessing for a single index
df.iloc[4]

awardYear                                                                  1979
category                                                                Physics
categoryFullName                                     The Nobel Prize in Physics
sortOrder                                                                     2
portion                                                                     1/3
prizeAmount                                                              800000
prizeAmountAdjusted                                                     2988048
dateAwarded                                                          1979-10-15
prizeStatus                                                            received
motivation                    for their contributions to the theory of the u...
categoryTopMotivation                                                       NaN
award_link                    https://masterdataapi.nobelprize.org/2/nobelPr...
id                                                                          114
name                                                                Abdus Salam
knownName                                                           Abdus Salam
givenName                                                                 Abdus
familyName                                                                Salam
fullName                                                            Abdus Salam
penName                                                                     NaN
gender                                                                     male
laureate_link                 http://masterdataapi.nobelprize.org/2/laureate...
birth_date                                                           1926-01-29
birth_city                                                       Jhang Maghiāna
birth_cityNow                                                    Jhang Maghiāna
birth_continent                                                            Asia
birth_country                                                             India
birth_countryNow                                                       Pakistan
birth_locationString                       Jhang Maghiāna, India (now Pakistan)
death_date                                                           1996-11-21
death_city                                                               Oxford
death_cityNow                                                            Oxford
death_continent                                                          Europe
death_country                                                    United Kingdom
death_countryNow                                                 United Kingdom
death_locationString                                     Oxford, United Kingdom
orgName                                                                     NaN
nativeName                                                                  NaN
acronym                                                                     NaN
org_founded_date                                                            NaN
org_founded_city                                                            NaN
org_founded_cityNow                                                         NaN
org_founded_continent                                                       NaN
org_founded_country                                                         NaN
org_founded_countryNow                                                      NaN
org_founded_locationString                                                  NaN
ind_or_org                                                           Individual
residence_1                                                                 NaN
residence_2                                                                 NaN
affiliation_1                 International Centre for Theoretical Physics, ...
affiliation_2                          Imperial College, London, United Kingdom
affiliation_3                                                               NaN
affiliation_4                                                               NaN
is_it_science                                                              True
Name: 4, dtype: object

In [39]:
df.iloc[4]['portion']

'1/3'

More things not covered in this session can be gotten from resources in the given GitHub Repository (or simply, in the link that we sent)